
/* Footer.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Color Variables */
:root {
  --background-color: #0a192f; /* Deep Navy Blue */
  --accent-color: #f0a500; /* Golden Yellow */
  --text-color: #ffffff; /* White */
  --text-secondary-color: #d1d1d1; /* Light Gray */
}

.footer {
  background-color: var(--background-color);
  color: var(--text-secondary-color);
  /* padding: 2rem 0; */
}

.footer-logo {
  width: 48px;
  height: 48px;
}

.footer h5 {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.footer p,
.footer ul {
  font-size: 0.9rem;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.social-icons a {
  color: var(--text-color);
  margin-right: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: var(--accent-color);
  transform: scale(1.2);
}

.text-center p {
  margin-top: 1rem;
  font-size: 0.8rem;
}
